.service_bg {
	left: 85% !important;
	top: 10% !important;
}
.account_bg {
	top: 44% !important;
	left: 82% !important;
}

#areachart .apexcharts-legend {
	padding: 0% 0% 0% 10%;
}
#polarchart .apexcharts-legend{
	left: 30px !important;
}
.apexcharts-legend-text {
	font-weight: bolder !important;
}
.apexcharts-legend-series {
	padding: 8% 0%;
}
#piechart .apexcharts-pie-label,
#piechart .apexcharts-legend,
.apexcharts-toolbar,
.apexcharts-legend div:first-child {
	display: none !important;
}
#piechart {
	background-color: #f5f6ff;
	top: -108px;
	left: 70%;
}
#piechart .apexcharts-canvas {
	right: 20px;
	top: 2px;
}
.card_convert {
	width: 150px;
	height: 55px;
	transform: rotate(-90deg);
	top: 58px;
	left: 50px;
}

/* tabs  s*/
.rc-tabs-nav-list {
	display: flex;
}
.rc-tabs-tab {
	padding: 0% 6% 0% 0%;
	color: #d9dae0;
	font-size: 14px;
}
.rc-tabs-nav-list .rc-tabs-tab {
	cursor: pointer;
}
.rc-tabs-tab-active div {
	border-bottom: 3px solid #7a84ef;
	width: 50%;
	color: #3b384d;
	font-weight: bold;
}
.card-button {
	border: none;
	top: 25px;
}
/* tabs e */
.personal-bank-box {
	background-color: #f5f6ff;
	margin: 5% 0% 0% 5%;
	padding: 2% 5% 5% 5%;
}
.debit_card {
	padding: 0% 4%;
	width: 53%;
	right: 12%;
	background: linear-gradient(to bottom, #9933ff 0%, #0000ff 100%);
	border-radius: 20px !important;
}
.db_card_txt_clr {
	color: #a5a4ae;
}

.statistics_car_icon,
.statistics_game_icon,
.statistics_study_icon {
	top: -35px !important;
	left: 55px !important;
}
.calender-icon {
	left: 8%;
}

.rc-progress-circle {
	width: 10%;
	padding: 0% 6%;
}

.value-in-dollar {
	bottom: 12px;
}
.debit-card-icon {
	top: 10%;
	left: 70%;
	background-color: #f4f5ff;
}
.arrow-du-lt{
	top: -14px;
	left: -95px;
}
.arrow-down {
	transform: rotate(130deg);
}
.arrow-up {
	transform: rotate(-50deg);
}
