body {
	font-family: Arial, Helvetica, sans-serif;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -0.5rem;
	margin-left: -0.5rem;
}
.col-lg-4 {
	/* border: 1px solid red; */
	flex: 0 0 26%;
	max-width: 26%;
	position: relative;
	width: 100%;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.col-lg-2 {
	flex: 0 0 16%;
	max-width: 16%;
	position: relative;
	width: 100%;
	padding: 2%;
}
.col-lg-6 {
	/* border: 1px solid red; */
	flex: 0 0 50%;
	max-width: 50%;
	position: relative;
	width: 100%;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.txt-center {
	text-align: center;
}
.txt-start {
	text-align: start;
}
.w-50p {
	width: 50%;
}
.w-55p {
	width: 55%;
}
.w-40p {
	width: 40%;
}
.btm-170 {
	bottom: 170px;
}
.btm-235 {
	bottom: 235px;
}
.col-lg-6 ul {
	list-style-type: none;
	width: 30%;
}
.col-lg-6 li {
	padding: 8% 0%;
}
.display-in {
	display: inline;
}
.display-flex {
	display: flex;
}
.m-0 {
	margin: 0%;
}
.m-5p {
	margin: 0% 5%;
}
.mt-3p {
	margin-top: 3%;
}
.mt-25p {
	margin-top: 25%;
}
.p-4p {
	padding: 4% 6%;
}
.p-7p {
	padding: 7% 0%;
}
.font-b {
	font-weight: bolder;
}

.sidebar {
	grid-area: menu;
	/* border: 2px solid red; */
	/* padding: 20px 0; */
}
.overview {
	grid-area: main;
	/* border: 2px solid red; */
	/* padding: 20px 0; */
	/* font-size: 30px; */
}
.user {
	grid-area: right;
	border: 2px solid red;
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.sidebar-menu a {
	color: #d9dae0;
	display: block;
	padding: 5%;
	text-decoration: none;
	margin: 10% 0%;
}

.sidebar-menu a:hover {
	/* background-color: #F5F6FF; */
}

.sidebar-menu a.active {
	background-color: #f5f6ff;
	color: #676576;
	font-weight: bolder;
	border-radius: 6px;
}

.logo {
	padding: 0% 5%;
}
.ov-title-p {
	padding: 4% 0% 0% 5%;
}
.apexcharts-toolbar {
	display: none !important;
}
.apexcharts-legend {
	/* padding: 0% 15% !important; */
}
.apexcharts-legend div:first-child {
	display: none;
}
.apexcharts-legend-series {
	padding: 8% 0%;
}
.rc-progress-circle {
	width: 10%;

	padding: 0% 6%;
}

.rate {
	position: relative;
	bottom: 12px;
}
